  <div class="container">
    <div class="row">
      <div class="twelve columns"> 
        <h1>Registration Numberplates</h1>
      </div>
    </div>

    <div class="row">
        <div class="twelve columns">
          {{!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" --}}
            <div class="twelve columns">
              <form action="/reg_numbers" method="post">
              <input name="regValue" id="numberPlate" onkeyup="lettersOnly(this)" placeholder="enter registration number" class="regNumber"   title="Please enter a Number Plate e.g 'CA31004'"/>
               <input type="submit" value="Add"> 
              </form>
            </div>
       
        </div>
    </div>

    <div class="row">
          <div class="twelve columns">

            <form  class="" action="/reg_numbers" method="get">
                <div class="normalFilter">
                    <label for="Town to Filter: "></label>
                    <select class="selectWhichTown" name="selectTown">
                      <option class="selectWhichTown" value="All">All Towns</option>
                      <option class="selectWhichTown" value="CA ">Cape Town</option>
                      <option class="selectWhichTown" value="CJ ">Paarl</option>
                      <option class="selectWhichTown" value="CW ">Worcester</option>
                      <option class="selectWhichTown" value="CAW">George</option>
                      <option class="selectWhichTown" value="CAW">Somerset West</option>
                    </select>
                  </div>
            <button class="button show">Filter</button>
            </form>
          </div>
    </div>


    <div class="row">

      <div class="twelve columns">

           <ul class="registrationNum">
            {{#each displayRegs}}
                    <li>{{reg_number}}</li>
             {{/each}} 
            </ul>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
          <a href="/reset">
              <button class="button reset">Reset</button>
          </a>
      </div>
    </div>

  </div>